html{scroll-behavior:smooth;}
*{
  color:white;
  user-select:none;
  font-family:'Comfortaa',cursive;
  }
body{
  margin:0;padding:0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#70dc70;
  }
div{
  display:flex;
  }
a{
  text-decoration:none;
  }
.logo{
  border-left: 10px solid;
  border-top: 10px solid;
  border-image-source:linear-gradient(to right,#00E0E8, #0FEFFF);
  border-image-slice:1;
  padding:20px;
  }
.header{
  align-items:center;
  justify-content:space-between;
  width:90%;
  max-width:1080px;
  height:100px;
  font-weight:bold;
  }
.social{
  align-items:center;
  border-right:10px solid;
  border-bottom:10px  solid;
  border-image-source:linear-gradient(to right,#0FEFFF,#00C0F0);
  border-image-slice:1;
  padding:10px;
  }
.social img{
  transition:.2s;
  margin:0px  10px;
  width:30px;
  height:30px;
  }
.social img:hover{
  transition:.2s;
  transform:scale(1.2);
  }
.kandidat{
  width:100%;
  max-width:1080px;
  justify-content:space-around;
  flex-wrap:wrap;
  }
.stuff{
  transition:.2s;
  margin:30px;
  flex-direction:column;
  align-items:center;
  background:white;
  border-bottom:10px  solid;
  border-image-source:linear-gradient(to right, #A3F9FF,#0FEFFF);
  border-image-slice:1;
  }
.stuff img{
  pointer-events:none;
  }
.photo{

  width:264px;
  height:264px;
  }
.stuff:hover{
  transition:.2s;
  border-bottom:0px solid;
  cursor:pointer;
  }
.names{
  font-weight:bold;
  margin:1px;
  color:black;
  font-size:14px;
  }
.stuff .name p:last-of-type{
  font-size:15px;
  word-wrap:break-word;
  font-weight:normal;
  margin:1px;
  color:black;
  }
.stuff .name{
  flex-direction:column;
  align-items:center;
  margin:15px;
  }
.buybutton{
  justify-content:center;
  align-items:center;
  margin:0;
  width:100%;
  background:white;
  transition:.2s;
  }
.buybutton img{
  height:60px;
  margin:5px;
  }
.sizechanger{
  display:flex;
  flex-direction:column;
  position:fixed;
  right:30px;
  top:50%;
  border-radius:300px;
  }
.sizechanger img{
  cursor:pointer;
  width:40px;
  height:40px;
  margin:15px;
  transition:.2s;
  }
.sizechanger img:hover{
  transition:.2s;
  transform:scale(1.1);
  }
.opros{
  width:90%;
  margin:40px;
  }
.footer{
  bottom:0;
  height:60px;
  width:100%;
  justify-content:center;
  align-items:center;
  font-weight:bold;
  border-bottom:10px solid;
  border-image-source:linear-gradient(to right,#0FEFFF,#0FEFFF);
  border-image-slice:1;
  }
.footer p{
  padding:3px;
  margin:10px;
  }
.footer img{
  transition:.2s;
  margin:0px 10px;
  width:30px;
  height:30px;
  }
.footer img:hover{
  transition:.2s;
  transform:scale(1.2);
  }
@media screen and (max-width:1280px){
    .sizechanger{
      display:none;
    }
  }

@media screen and (max-width:720px){
  .photo{
      width:264px;
      height:264px;
  }
    .names{
      font-size:17px;
    }
  }
